node_modules
dist
.env
.env.local
.env.development
.env.production
.env.test
.env.staging
.env.preproduction
.env.preproduction.local
.env.preproduction.development
.env.preproduction.production
.env.preproduction.test
.env.preproduction.staging
.env.preproduction.preproduction
.env.preproduction.preproduction.local
.env.preproduction.preproduction.development
.env.preproduction.preproduction.production
.env.preproduction.preproduction.test